<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="ExtM3UeditFrame">
		<title>ExtM3Uedit</title>
		<size>800,600</size>
		<object class="wxPanel" name="ID_MAIN_PANEL" variable="MainPanel" member="yes">
			<object class="wxBoxSizer" variable="BoxSizer1" member="no">
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer2" member="no">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_ADDENTRY_BITMAPBUTTON" variable="AddEntryButton" member="yes">
								<bitmap stock_id="wxART_PLUS" stock_client="wxART_BUTTON" />
								<tooltip>Create a new entry</tooltip>
								<handler function="OnAddEntryButtonClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_ENTRYUP_BITMAPBUTTON" variable="EntryUpButton" member="yes">
								<bitmap stock_id="wxART_GO_UP" stock_client="wxART_BUTTON" />
								<tooltip>Move the selected entry up</tooltip>
								<handler function="OnEntryUpButtonClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_ENTRYDOWN_BITMAPBUTTON" variable="EntryDownButton" member="yes">
								<bitmap stock_id="wxART_GO_DOWN" stock_client="wxART_BUTTON" />
								<tooltip>Move the selected entry down</tooltip>
								<handler function="OnEntryDownButtonClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_REMOVEENTRY_BITMAPBUTTON" variable="RemoveEntryButton" member="yes">
								<bitmap stock_id="wxART_DELETE" stock_client="wxART_BUTTON" />
								<tooltip>Delete the selected entry</tooltip>
								<handler function="OnRemoveEntryButtonClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
				</object>
				<object class="sizeritem">
					<object class="wxListView" name="ID_ENTRY_LISTVIEW" subclass="EMEntryListView" variable="EntryListView" member="yes">
						<style>wxLC_REPORT|wxLC_SINGLE_SEL|wxLC_VIRTUAL</style>
						<handler function="OnEntryListViewItemSelect" entry="EVT_LIST_ITEM_SELECTED" />
					</object>
					<flag>wxALL|wxEXPAND</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="Custom" name="ID_PARAM_VIEW" subclass="EMParametersView" variable="ParametersView" member="yes">
						<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
						<include_file>em__par__view.h</include_file>
						<local_include>1</local_include>
						<size>280,590</size>
					</object>
					<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
					<border>5</border>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer3" member="no">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_ADDATTR_BITMAPBUTTON" variable="AddAttrButton" member="yes">
								<bitmap stock_id="wxART_PLUS" stock_client="wxART_BUTTON" />
								<tooltip>Add a new attribute to the selected entry</tooltip>
								<handler function="OnAddAttrButtonClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_ATTRUP_BITMAPBUTTON" variable="AttrUpButton" member="yes">
								<bitmap stock_id="wxART_GO_UP" stock_client="wxART_BUTTON" />
								<tooltip>Move the selected attribute up</tooltip>
								<handler function="OnAttrUpButtonClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_ATTRDOWN_BITMAPBUTTON" variable="AttrDownButton" member="yes">
								<bitmap stock_id="wxART_GO_DOWN" stock_client="wxART_BUTTON" />
								<tooltip>Move the selected attribute down</tooltip>
								<handler function="OnAttrDownButtonClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_REMOVEATTR_BITMAPBUTTON" variable="RemoveAttrButton" member="yes">
								<bitmap stock_id="wxART_DELETE" stock_client="wxART_BUTTON" />
								<tooltip>Delete the selected attribute</tooltip>
								<handler function="OnRemoveAttrButtonClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
				</object>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar" member="no">
			<object class="wxMenu" variable="FileMenu" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuNew" variable="NewMenuItem" member="no">
					<label>New</label>
					<accel>Ctrl+N</accel>
					<help>Create a new empty playlist</help>
					<bitmap stock_id="wxART_NEW" stock_client="wxART_MENU" />
					<handler function="OnNewMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuOpen" variable="OpenMenuItem" member="no">
					<label>Open...</label>
					<accel>Ctrl+O</accel>
					<help>Open an existing playlist file</help>
					<bitmap stock_id="wxART_FILE_OPEN" stock_client="wxART_MENU" />
					<handler function="OnOpenMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuSave" variable="SaveMenuItem" member="no">
					<label>Save</label>
					<accel>Ctrl+S</accel>
					<help>Save the playlist</help>
					<bitmap stock_id="wxART_FILE_SAVE" stock_client="wxART_MENU" />
					<handler function="OnSaveMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuSaveAs" variable="SaveAsMenuItem" member="no">
					<label>Save As...</label>
					<accel>Ctrl+Alt+S</accel>
					<help>Save the playlist under a different name</help>
					<bitmap stock_id="wxART_FILE_SAVE_AS" stock_client="wxART_MENU" />
					<handler function="OnSaveAsMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuQuit" variable="QuitMenuItem" member="no">
					<label>Quit</label>
					<accel>Alt+F4</accel>
					<help>Quit the application</help>
					<bitmap stock_id="wxART_QUIT" stock_client="wxART_MENU" />
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="ToolsMenu" member="no">
				<label>Tools</label>
				<object class="wxMenuItem" name="idMenuNormalize" variable="NormalizeMenuItem" member="no">
					<label>Normalize</label>
					<help>Convert playlist to match Extended M3U specification</help>
					<handler function="OnNormalizeMenuItemSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="HelpMenu" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="AboutMenuItem" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<bitmap stock_id="wxART_INFORMATION" stock_client="wxART_MENU" />
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR" variable="StatusBar" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
